/*TODO*/
.lang {
    text-align: center !important;;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.black{
    background-color: #111;
}
.width60{
    width: 60%;
}
.border-grey{
    border: 5px grey;
}
