html[lang=fa] {
    direction: rtl;
}

html[lang=en] {
    direction: ltr;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    justify-content: end;
    margin-left: 80%;
    text-align: inherit;
}


.sidenav a {
    padding: 6px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    width: 79%;
    position: absolute;
    left: 0;
    padding: 0;
    text-align: inherit;
}
.content{
    width: 79%!important;
}
.background {
    background: url('../static/css/img/bg.jpg');
    position: fixed;
    width: 100%;
    height: 100%;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wid50{
    width: 50%;
}
.light-text{
    color: white;
}