<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List Students</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark black fixedNav navbar-color">
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="navbarDropdown" role="button" th:text="${session.userName}">
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/admin/edit-admin" th:text="#{edit_account}"></a>
                    <a class="dropdown-item" href="/logout" th:text="#{logout}"> </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="sidenav lang" id="mySidenav">
    <a href="/admin/home"><p th:text="#{home}"></p></a>
    <a href="/admin/search" th:text="#{search}"></a>
    <a href="/admin/create-subject" th:text="#{create_subject}"></a>
    <a href="/admin/list-students" th:text="#{students}"></a>
    <a href="/admin/list-teachers" th:text="#{teachers}"></a>
    <a href="/admin/list-subjects" th:text="#{subjects}"></a>
    <a href="/admin/list-courses" th:text="#{courses}"></a>
    <a href="/admin/allow-user" th:text="#{allow_users}"></a>
    <a href="/admin/edit-admin" th:text="#{edit_account}"></a>
    <br>
    <img alt="aboutUs" height="150px" src="../static/css/img/QuizMaker.png" th:src="@{/css/img/QuizMaker.png}" width="150px">

</div>

<div class="table-bordered main content lang">
    <table class="table  lang">

        <tr>
            <th colspan="6" th:text="#{students}"></th>
        </tr>
        <tr>
            <th th:text="#{firstname}">First Name</th>
            <th th:text="#{lastname}">Last Name</th>
            <th th:text="#{nationalcode}">National Code</th>
            <th th:text="#{studentcode}">Student Code</th>

        </tr>


        <tr th:if="${students.isEmpty()}">
            <td colspan="5" th:text="#{no_students}">There Are No Students</td>
        </tr>

        <tr th:each="student : ${students}">

            <td><p th:text="${student.firstName}"> First Name </p></td>
            <td><p th:text="${student.lastName}"> Last Name </p></td>
            <td><p th:text="${student.nationalCode}"> National Code </p></td>
            <td><p th:text="${student.studentCode}"> Student Code </p></td>

            <td><a class="btn btn-primary card-link" role="button" th:href="@{/admin/assign-course-user/__${student.id}__}" th:text="#{assign_to_a_course}">Assign To A
            <td><a  class="btn btn-primary card-link" role="button" th:href="@{/admin/edit-student/__${student.id}__}" th:text="#{edit_student}"></a></td>

        </tr>
    </table>
</div>


<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>