<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/admin-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="sidenav lang" id="mySidenav">
    <a href="/admin/home"><p th:text="#{home}"></p></a>
    <a href="/admin/search" th:text="#{search}"></a>
    <a href="/admin/create-subject" th:text="#{create_subject}"></a>
    <a href="/admin/list-students" th:text="#{students}"></a>
    <a href="/admin/list-teachers" th:text="#{teachers}"></a>
    <a href="/admin/list-subjects" th:text="#{subjects}"></a>
    <a href="/admin/list-courses" th:text="#{courses}"></a>
    <a href="/admin/allow-user" th:text="#{allow_users}"></a>
    <a href="/admin/edit-admin" th:text="#{edit_account}"></a>
    <a href="/logout" th:text="#{logout}"></a>
</div>

<div class="main lang">
    <div class="card" style="width: max-content;margin-left: auto;margin-right: auto;">
        <div class="card-body">
            <form action="#" method="POST" style="margin: auto;" th:action="@{/admin/edit-student}" th:object="${student}">
                <div class="form-group">
                    <label for="id" th:text="#{id}"></label>
                    <input aria-describedby="username" class="form-control"  id="id" name="id" readonly th:field="*{id}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="userName" th:text="#{username}"></label>
                    <input aria-describedby="username" class="form-control" id="userName" name="userName"
                           th:field="*{userName}" type="text">
                </div>
                <div class="form-group">
                    <label for="firstName" th:text="#{firstname}"></label>
                    <input class="form-control" id="firstName" name="firstName" th:field="*{firstName}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="lastName" th:text="#{lastname}"></label>
                    <input class="form-control" id="lastName" name="lastName" th:field="*{lastName}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="nationalCode" th:text="#{nationalcode}"></label>
                    <input class="form-control" id="nationalCode" name="nationalCode" th:field="*{nationalCode}"
                           type="text">
                </div>
                <div class="form-group">
                    <label for="studentCode" th:text="#{studentcode}"></label>
                    <input class="form-control" id="studentCode" name="studentCode" th:field="*{studentCode}"
                           type="text">
                </div>
                <input aria-describedby="password" class="form-control" hidden
                       th:field="*{password}" type="text">
                <a class="btn btn-primary"  role="button" th:href="@{/admin/delete-student/__${student.id}__}"
                   th:text="#{delete_student}"></a>
                <button class="btn btn-primary" th:text="#{edit_student}" type="submit">Submit</button>
                <button class="btn btn-primary" th:text="#{resetfields}" type="reset">Reset</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>