<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="sidenav lang" id="mySidenav">
    <a href="/admin/home"><p th:text="#{home}"></p></a>
    <a href="/admin/search" th:text="#{search}"></a>
    <a href="/admin/create-subject" th:text="#{create_subject}"></a>
    <a href="/admin/list-students" th:text="#{students}"></a>
    <a href="/admin/list-teachers" th:text="#{teachers}"></a>
    <a href="/admin/list-subjects" th:text="#{subjects}"></a>
    <a href="/admin/list-courses" th:text="#{courses}"></a>
    <a href="/admin/allow-user" th:text="#{allow_users}"></a>
    <a href="/admin/edit-admin" th:text="#{edit_account}"></a>
    <a href="/logout" th:text="#{logout}"></a>
</div>
<div class="main  lang">
    <div class="card" style="width: max-content;margin-left: auto;margin-right: auto;">
        <div class="card-body">
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${edited}">
                <p class="error" th:text="#{edited}"></p>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${current_password_error}">
                <p class="error" th:text="#{currentPassword_error}"></p>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${unmatched_error}">
                <p class="error" th:text="#{unmatched_passwords}"></p>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${duplicate_username}">
                <p class="error" th:text="#{duplicate_username}"></p>
                <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/edit-admin" method="POST" style="margin: auto;">
                <div class="form-group">
                    <label for="userName" th:text="#{username}"></label>
                    <input aria-describedby="username" class="form-control" id="userName" name="userName" required
                           type="text">
                </div>
                <div class="form-group">
                    <label for="currentPassword" th:text="#{current_password}"></label>
                    <input aria-describedby="currentPassword" class="form-control" id="currentPassword" name="currentPassword" required
                          type="password">
                </div>
                <div class="form-group">
                    <label for="newPassword" th:text="#{new_password}"></label>
                    <input aria-describedby="newPassword" class="form-control" id="newPassword" name="newPassword"
                          type="password">
                </div>
                <div class="form-group">
                    <label for="confirmPassword" th:text="#{confirm_password}"></label>
                    <input aria-describedby="confirmPassword" class="form-control" id="confirmPassword" name="confirmPassword"
                          type="password">
                </div>

                <button class="btn btn-primary" th:text="#{edit_account}" type="submit">Submit</button>
                <button class="btn btn-primary" th:text="#{resetfields}" type="reset">Reset</button>
            </form>
        </div>
    </div>
</div>



<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>