<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Subject</title>
    <link rel="stylesheet" th:href="@{/css/admin-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="sidenav lang" id="mySidenav">
    <a href="/admin/home"><p th:text="#{home}"></p></a>
    <a href="/admin/search" th:text="#{search}"><p></p></a>
    <a href="/admin/create-subject" th:text="#{create_subject}"><p></p></a>
    <a href="/admin/list-students" th:text="#{students}"><p></p></a>
    <a href="/admin/list-teachers" th:text="#{teachers}"><p></p></a>
    <a href="/admin/list-subjects" th:text="#{subjects}"><p></p></a>
    <a href="/admin/list-courses" th:text="#{courses}"><p></p></a>
    <a href="/admin/allow-user" th:text="#{allow_users}"><p></p></a>
</div>

<div class="main">
    <div class="card" style="width: max-content;margin-left: auto;margin-right: auto;">
        <div class="card-body">
            <form action="#" class="forms" method="post" style="margin: auto;" th:action="@{/admin/create-subject}"
                  th:object="${subject}">
                <div class="form-group">
                    <label for="name" th:text="#{name}">Name</label>
                    <input aria-describedby="username" class="form-control" id="name" name="name"
                           placeholder="Enter UserName" th:field="*{name}" type="text">
                </div>
                <button  class="btn btn-primary" th:value="#{search}" type="submit">Submit</button>
                <button  class="btn btn-primary" th:value="#{resetfields}" type="reset">Reset</button>
            </form>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>