<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link rel="stylesheet" th:href="@{/css/home-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <style>
        .background {
            background:url('../img/bg/diagonalnoise.png');
            position: relative;
        }

        .layer {
            background-color: rgba(248, 247, 216, 0.7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    </style>
</head>
<body>
<div class="color">
    <form action="/home" id="myform" method="post"></form>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixedNav">
    <a class="navbar-brand" href="/home" th:text="#{quizmaker}">Quiz Maker</a>
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home" th:text="#{home}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button" th:text="#{signup}">
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/home/sign-up/student" th:text="#{sign_up_student}"></a>
                    <a class="dropdown-item" href="/home/sign-up/teacher" th:text="#{sign_up_teacher}"> </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/courses" th:text="#{courses}"></a>
            </li>
        </ul>
        <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="modalLoginForm" role="dialog"
             tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${loginError}">
                        <p class="error" th:text="#{login_error}"></p>
                        <button aria-label="Close" class="close" data-dismiss="alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold" th:text="#{login}"></h4>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <input class="form-control validate" form="myform" id="defaultForm-userName" name="username"
                                   type="text">
                            <label data-error="wrong" data-success="right" for="defaultForm-userName" th:text="#{username}"></label>
                        </div>

                        <div class="md-form mb-4">
                            <i class="fas fa-lock prefix grey-text"></i>
                            <input class="form-control validate" form="myform" id="defaultForm-pass" name="password"
                                   type="password">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass" th:text="#{password}">m</label>
                        </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input class="btn btn-default" form="myform" th:value="#{login}" type="submit"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-default btn-rounded mb-4" data-target="#modalLoginForm" data-toggle="modal"
               href="" th:text="#{login}"></a>
        </div>
    </div>
</nav>


<!-- Todo Front Menu!!-->
</div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>