<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exams</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>
<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${joined}">
    <p class="error" th:text="#{joined}"></p>
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<nav class="navbar navbar-expand-lg navbar-dark black fixedNav navbar-color">
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="navbarDropdown" role="button" th:text="${session.userName}">
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/student/edit-user" th:text="#{edit_account}"></a>
                    <a class="dropdown-item" href="/logout" th:text="#{logout}"> </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="sidenav lang" id="mySidenav">
    <a href="/student/home"><p th:text="#{home}"></p></a>
    <a href="/student/show-courses" th:text="#{courses}"></a>
    <br>
    <img alt="aboutUs" height="150px" src="../static/css/img/QuizMaker.png" th:src="@{/css/img/QuizMaker.png}" width="150px">
</div>

<div class="table-bordered main lang">
    <table class="table  lang">

        <tr class="light-text bg-dark">
            <th colspan="8" th:text="#{exams}"></th>
        </tr>
        <tr>
            <th th:text="#{title}"></th>
            <th th:text="#{description}"></th>
            <th th:text="#{time}"></th>
            <th th:text="#{course}"></th>

        </tr>


        <tr th:if="${exams.isEmpty()}">
            <td colspan="5" th:text="#{no_exams}"></td>
        </tr>

        <tr th:each="exam : ${exams}">

            <td><p th:text="${exam.title}"></p></td>
            <td><p th:text="${exam.description}"></p></td>
            <td><p th:text="${exam.time}"></p></td>
            <td><p th:text="${exam.course.name}"></p></td>
            <td><a class="btn btn-primary card-link" role="button"
                   th:href="@{/student/join-exam/__${exam.id}__/0}"
                   th:text="#{join_exam}"></a></td>


        </tr>
    </table>
</div>