<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" th:action="@{/student/correct-exam/__${exam.id}__}">
    <h1 th:text="${exam.title}"></h1>
    <strong id="time" th:text="${exam.time}"></strong>
<!--    <strong  id="time">1</strong>-->
    <h2 th:if="${!multipleChoice.isEmpty()}">Multiple Choice Questions</h2>

    <div th:each="question , li: ${multipleChoice}">
        <h3 th:text="${question.title}"></h3>
        <h5 th:text="${question.question}"></h5>
        <div th:each="option : ${question.options}">
            <input th:name="${li.index}" th:value="${option}" type="radio">
            <span th:text="${option}"></span><br>
        </div>
    </div>
    <h2 th:if="${!descriptive.isEmpty()}">Multiple Choice Questions</h2>

    <div th:each="question , li: ${descriptive}">
        <h3 th:text="${question.title}"></h3>
        <h5 th:text="${question.question}"></h5>
        <input th:name="${li.index}+${multipleChoice.size()}" type="text">
    </div>

    <input type="submit" value="submit">;

</form>
<p id="demo"></p>

<script src="/../static/js/jquery-3.5.1.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
    // $(document).ready(function () {
        let number = /*[[${exam.time}* 60000]]*/
        console.log(number)

        setTimeout('document.forms[0].submit();', number);
    // })

    // Set the date we're counting down to
    var countDownDate = new Date().getTime()+number;

    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds

        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("demo").innerHTML = hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text

    }, 1000);
</script>
</body>
</html>