<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subject Courses</title>
    <link rel="stylesheet" th:href="@{/css/admin-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="sidenav lang" id="mySidenav">
    <a href="/admin/home"><p th:text="#{home}"></p></a>
    <a href="/admin/search" th:text="#{search}"><p></p></a>
    <a href="/admin/create-subject" th:text="#{create_subject}"><p></p></a>
    <a href="/admin/list-students" th:text="#{students}"><p></p></a>
    <a href="/admin/list-teachers" th:text="#{teachers}"><p></p></a>
    <a href="/admin/list-subjects" th:text="#{subjects}"><p></p></a>
    <a href="/admin/list-courses" th:text="#{courses}"><p></p></a>
    <a href="/admin/allow-user" th:text="#{allow_users}"><p></p></a>
</div>

<div class="table-bordered main lang">
    <table class="table lang">

        <tr>
            <th colspan="4" th:text="#{courses}"></th>
        </tr>
        <tr>
            <th th:text="#{subject}"></th>
            <th th:text="#{startdate}"></th>
            <th th:text="#{enddate}"></th>

        </tr>


        <tr th:if="${courses.isEmpty()}">
            <td colspan="4" th:text="#{no_courses}"></td>
        </tr>

        <tr th:each="course : ${courses}">

            <td><p th:text="${course.subject.name}"></p></td>
            <td><p th:text="${course.startDate}"></p></td>
            <td><p th:text="${course.endDate}"></p></td>

            <td><a th:href="@{/admin/course-users/__${course.id}__}" th:text="#{see_users}"></a></td>

        </tr>
    </table>
</div>
</body>
</html>