<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Multiple Question</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link href="../static/minified/themes/default.min.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark black fixedNav navbar-color">
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="navbarDropdown" role="button" th:text="${session.userName}">
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/teacher/edit-user" th:text="#{edit_account}"></a>
                    <a class="dropdown-item" href="/logout" th:text="#{logout}"> </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="sidenav lang" id="mySidenav">
    <a href="/teacher/home"><p th:text="#{home}"></p></a>
    <a href="/teacher/show-courses"><p th:text="#{courses}"></p></a>
    <a href="/teacher/show-exams"><p th:text="#{exams}"></p></a>
    <br>
    <img alt="aboutUs" height="150px" src="../static/css/img/QuizMaker.png" th:src="@{/css/img/QuizMaker.png}" width="150px">
</div>
<div class="main lang ">
    <div class="card" style="width: max-content;margin-left: auto;margin-right: auto;">
        <div class="card-body" id="questionForm">
            <form action="#" class="forms" method="post" style="margin: auto;" th:action="@{/teacher/multiple-question}"
                  th:object="${multipleChoiceQuestion}">
                <div class="form-group">
                    <label for="exam" th:text="#{exam}"></label><br>
                    <input disabled id="exam" readonly th:value="${exam.title}">
                    <input aria-describedby="course" class="form-control" hidden name="examId" readonly
                           th:value="${exam.id}" type="text">
                </div>
                <div class="form-group">
                    <label for="course" th:text="#{course}"></label><br>
                    <input disabled id="course" readonly th:value="${exam.course.name}">
                    <input aria-describedby="course" class="form-control" hidden name="course" readonly
                           th:field="*{course}" th:value="${exam.course}" type="text">
                </div>
                <div class="form-group">
                    <label for="subject" th:text="#{subject}"></label><br>
                    <input disabled id="subject" readonly th:value="${exam.course.subject.name}">
                    <input aria-describedby="course" class="form-control" hidden name="course" readonly
                           th:value="${exam.course.subject}" type="text">
                </div>
                <div class="form-group">
                    <label for="teacher" th:text="#{teacher}"></label><br>
                    <input disabled id="teacher" readonly th:value="${exam.teacher.userName}">
                    <input aria-describedby="teacher" class="form-control" hidden name="teacher" readonly
                           th:field="*{teacher}" th:value="${exam.teacher}" type="text">
                </div>
                <div class="form-group">
                    <label for="title" th:text="#{title}"></label>
                    <input aria-describedby="name" class="form-control" id="title" name="title"
                           th:field="*{title}" type="text">
                </div>
                <div class="form-group">
                    <label for="question" th:text="#{question}"></label>
                    <input aria-describedby="question" class="form-control" id="question" name="question"
                           th:field="*{question}" type="text">
                </div>
                <div class="form-group">
                    <label for="score" th:text="#{score}"></label>
                    <input aria-describedby="score" class="form-control" id="score" name="score"
                           type="number">
                </div>
                <div class="form-group">
                    <label for="answer" th:text="#{answer}"></label>
                    <input aria-describedby="question" class="form-control" id="answer" name="answer"
                           th:field="*{answer}" type="text">
                </div>
                <fieldset id="items">
                    <div th:each="li, stat : ${multipleChoiceQuestion.options}">
                        <label th:name="${stat.index}">Name</label>
                        <input th:field="${multipleChoiceQuestion.options[__${stat.index}__]}" th:id="${stat.index}">
                        <button onclick="removeCustom(this)" th:name="${stat.index}" th:value="${stat.index}" type="button">Remove item</button>
                    </div>
                </fieldset>

                <button name="addItem" type="button">Add item</button>


                <div class="form-group">
                    <label for="isPublic" th:text="#{isPublic}"></label>
                    <input id="isPublic" th:field="*{public}" type="checkbox"/>
                </div>
                <!--                TODO Pagination -->
                <a class="btn btn-dark card-link" role="button"
                   th:href="@{/teacher/descriptive-question/__${exam.id}__}"
                   th:text="#{add_descriptive_question}"></a>
                <a class="btn btn-dark card-link" role="button"
                   th:href="@{/teacher/add_question_from_bank/__${exam.id}__}"
                   th:text="#{add_question_from_bank}"></a>
                <button class="btn btn-primary" th:text="#{add_question}" type="submit"></button>
                <button class="btn btn-primary" th:text="#{resetfields}" type="reset"></button>
            </form>
        </div>
    </div>
</div>
<script src="/../static/js/jquery-3.5.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--<script src="/../static/minified/sceditor.min.js"></script>-->
<!--<script src="/../static/minified/formats/bbcode.js"></script>-->
<!--<script src="/../static/minified/formats/xhtml.js"></script>-->
<script src="/../static/js/multiple_choice.js" th:src="@{/js/multiple_choice.js}"></script>
</body>
</html>