<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Course</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">

    <!--    <link rel="stylesheet" th:href="@{/css/persian-datepicker.css}">-->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!--    <script type="text/javascript" th:src="@{/js/jquery-1.6.2.min.js}"></script>-->
    <!--    <script type="text/javascript" th:src="@{js/persian-datepicker.js}"></script>-->

</head>
<body>

<div class="sidenav lang" id="mySidenav">
    <a href="/teacher/home"><p th:text="#{home}"></p></a>
    <a href="/teacher/show-courses"><p th:text="#{courses}"></p></a>
    <a href="/teacher/show-exams"><p th:text="#{exams}"></p></a>
    <a href="/teacher/edit-user" th:text="#{edit_account}"></a>
    <a href="/logout" th:text="#{logout}"></a>
</div>

<div class="main  lang">
    <div class="card" style="width: max-content;margin-left: auto;margin-right: auto;">
        <div class="card-body">
            <form action="#" class="forms" method="post" style="margin: auto;" th:action="@{/teacher/add-exam}"
                  th:object="${exam}">
                <div class="form-group">
                    <label for="course" th:text="#{course}">Subject</label><br>
                    <input disabled id="course" readonly th:value="${course.name}">
                    <input aria-describedby="course" class="form-control" hidden  name="course" readonly
                           th:field="*{course}" th:value="${course}" type="text">
                </div>
                <div class="form-group">
                    <label for="teacher" th:text="#{teacher}">Teacher UserName</label><br>
                    <input disabled id="teacher" readonly th:value="${teacher.userName}">
                    <input aria-describedby="teacher" class="form-control" hidden  name="teacher" readonly
                           th:field="*{teacher}" th:value="${teacher}" type="text">
                </div>
                <div class="form-group">
                    <label for="title" th:text="#{title}">Name</label>
                    <input aria-describedby="name" class="form-control" id="title" name="title"
                           th:field="*{title}" type="text">
                </div>
                <div class="form-group">
                    <label for="description" th:text="#{description}">Name</label>
                    <input aria-describedby="description" class="form-control" id="description" name="description"
                           th:field="*{description}" type="text">
                </div>
                <div class="form-group">
                    <label for="time" th:text="#{time}">Name</label>
                    <input aria-describedby="time" class="form-control" id="time" name="time"
                           th:field="*{time}" type="number">
                </div>

                <button class="btn btn-primary" th:value="#{create_exam}" type="submit">Submit</button>
                <button class="btn btn-primary" th:value="#{resetfields}" type="reset">Reset</button>
            </form>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>