<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="sidenav lang" id="mySidenav">
    <a href="/teacher/home"><p th:text="#{home}"></p></a>
    <a href="/teacher/show-courses"><p th:text="#{courses}"></p></a>
    <a href="/teacher/show-exams"><p th:text="#{exams}"></p></a>
    <a href="/teacher/edit-user" th:text="#{edit_account}"></a>
    <a href="/logout" th:text="#{logout}"></a>

</div>
<div class="main lang content">

    <div class="table-bordered lang">
        <table class="table lang">

            <tr class="light-text bg-dark">
                <th colspan="6" th:text="#{courses}"></th>
            </tr>
            <tr>
                <th th:text="#{subject}"></th>
                <th th:text="#{startdate}"></th>
                <th th:text="#{enddate}"></th>
                <th th:text="#{students}"></th>
            </tr>


            <tr th:if="${courses.isEmpty()}">
                <td colspan="6" th:text="#{no_courses}"></td>
            </tr>

            <tr th:each="course : ${courses}">

                <td><p th:text="${course.subject.name}"></p></td>
                <td><p th:text="${course.startDate}"></p></td>
                <td><p th:text="${course.endDate}"></p></td>
                <td><a class="btn btn-primary card-link" role="button" th:href="@{/teacher/add-exam/__${course.id}__}" th:text="#{create_exam}"></a></td>
                <td><a class="btn btn-primary card-link" role="button" th:href="@{/teacher/show-exams/__${course.id}__}" th:text="#{show_exams}"></a></td>
                <td><a class="btn btn-primary card-link" role="button" th:href="@{/teacher/show-students/__${course.id}__}" th:text="#{show_students}"></a></td>

            </tr>
        </table>
    </div>


</div>


<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>