<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Add Descriptive Question</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<div class="sidenav lang" id="mySidenav">
    <a href="/teacher/home"><p th:text="#{home}"></p></a>
    <a href="/teacher/show-courses"><p th:text="#{courses}"></p></a>
    <a href="/teacher/show-exams"><p th:text="#{exams}"></p></a>
    <a href="/teacher/edit-user" th:text="#{edit_account}"></a>
    <a href="/logout" th:text="#{logout}"></a>
</div>
<div class="main lang ">
    <div class="card" style="width: max-content;margin-left: auto;margin-right: auto;">
        <div class="card-body">
            <form action="#" class="forms" method="post" style="margin: auto;" th:action="@{/teacher/add-descriptive-question}"
                  th:object="${question}">
                <div class="form-group">
                    <label for="exam" th:text="#{exam}"></label><br>
                    <input disabled id="exam" readonly th:value="${exam.title}">
                    <input aria-describedby="course" class="form-control" hidden name="examId" readonly
                           th:value="${exam.id}" type="text">
                </div>
                <div class="form-group">
                    <label for="course" th:text="#{course}"></label><br>
                    <input disabled id="course" readonly th:value="${exam.course.name}">
                    <input aria-describedby="course" class="form-control" hidden name="course" readonly
                           th:field="*{course}" th:value="${exam.course}" type="text">
                </div>
                <div class="form-group">
                    <label for="subject" th:text="#{subject}"></label><br>
                    <input disabled id="subject" readonly th:value="${exam.course.subject.name}">
                    <input aria-describedby="course" class="form-control" hidden name="course" readonly
                           th:field="*{subject}" th:value="${exam.course.subject}" type="text">
                </div>
                <div class="form-group">
                    <label for="teacher" th:text="#{teacher}"></label><br>  Q
                    <input disabled id="teacher" readonly th:value="${exam.teacher.userName}">
                    <input aria-describedby="teacher" class="form-control" hidden  name="teacher" readonly
                           th:field="*{teacher}" th:value="${exam.teacher}" type="text">
                </div>
                <div class="form-group">
                    <label for="title" th:text="#{title}"></label>
                    <input aria-describedby="name" class="form-control" id="title" name="title"
                           th:field="*{title}" type="text">
                </div>
                <div class="form-group">
                    <label for="question" th:text="#{question}"></label>
                    <input aria-describedby="question" class="form-control" id="question" name="question"
                           th:field="*{question}" type="text">
                </div>
                <div class="form-group">
                    <label for="answer" th:text="#{answer}"></label>
                    <input aria-describedby="answer" class="form-control" id="answer" name="description"
                           th:field="*{answer}" type="text">
                </div>
<!--                TODO HELP !!!!-->
                <div class="form-group">
                    <label for="isPublic" th:text="#{isPublic}"></label>
                    <input th:field="*{public}" type="checkbox"/>
                </div>



                <button class="btn btn-primary" th:text="#{add_question}" type="submit"></button>
                <button class="btn btn-primary" th:text="#{resetfields}" type="reset"></button>
            </form>
        </div>
    </div>
</div>

</body>
</html>