<!DOCTYPE html>
<html th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <link rel="stylesheet" th:href="@{/css/user-styles.css}">
    <link rel="stylesheet" th:href="@{/css/general-styles.css}">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark black fixedNav navbar-color">
    <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarText" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                   data-toggle="dropdown" href="#" id="navbarDropdown" role="button" th:text="${session.userName}">
                </a>
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/teacher/edit-user" th:text="#{edit_account}"></a>
                    <a class="dropdown-item" href="/logout" th:text="#{logout}"> </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="sidenav lang" id="mySidenav">
    <a href="/teacher/home"><p th:text="#{home}"></p></a>
    <a href="/teacher/show-courses"><p th:text="#{courses}"></p></a>
    <a href="/teacher/show-exams"><p th:text="#{exams}"></p></a>
    <br>
    <img alt="aboutUs" height="150px" src="../static/css/img/QuizMaker.png" th:src="@{/css/img/QuizMaker.png}" width="150px">
</div>
<div class="main lang content">
    <div class="table-bordered lang">
        <table class="table lang">

            <tr>
                <th colspan="5" th:text="#{multiple_choice_question}"></th>
            </tr>
            <tr>
                <th><p th:text="#{title}"></p></th>
                <th><p th:text="#{description}"></p></th>
                <th><p th:text="#{isPublic}"></p></th>
                <th><p th:text="#{answer}"></p></th>
                <th><p th:text="#{teacher}"></p></th>
                <th><p th:text="#{option}"></p></th>

            </tr>

            <tr th:if="${multiple.isEmpty()}">
                <td colspan="5" th:text="#{no_students}"></td>
            </tr>

            <tr th:each="question : ${multiple}">

                <td><p th:text="${question.title}"></p></td>
                <td><p th:text="${question.question}"></p></td>
                <td><p th:text="${question.public}"></p></td>
                <td><p th:text="${question.answer}"></p></td>
                <td><p th:text="${question.teacher.userName}"></p></td>
                <td>
                    <span th:each="option : ${question.options}">
                    <span th:text="${option}">Item description here...</span>
                        </span>
                </td>

        </table>
    </div>
    <div class="table-bordered lang">
        <table class="table lang">

            <tr>
                <th colspan="5" th:text="#{descriptive_questions}"></th>
            </tr>
            <tr>
                <th><p th:text="#{title}"></p></th>
                <th><p th:text="#{description}"></p></th>
                <th><p th:text="#{isPublic}"></p></th>
                <th><p th:text="#{answer}"></p></th>
                <th><p th:text="#{teacher}"></p></th>

            </tr>

            <tr th:if="${descriptive.isEmpty()}">
                <td colspan="5" th:text="#{no_students}"></td>
            </tr>

            <tr th:each="question : ${descriptive}">

                <td><p th:text="${question.title}"></p></td>
                <td><p th:text="${question.question}"></p></td>
                <td><p th:text="${question.public}"></p></td>
                <td><p th:text="${question.answer}"></p></td>
                <td><p th:text="${question.teacher.userName}"></p></td>

            </tr>

        </table>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>