<!--                <div id='add' style='padding: 10px;'>-->
<!--                    <div class="form-group">-->
<!--                        <label for="option" th:text="#{option}"></label>-->
<!--                        <input aria-describedby="question" class="form-control" id="option" name="option"-->
<!--                               th:field="*{options[1]}"  type="text">-->
<!--                    </div>-->
<!--                    <div id="addOption">-->
<!--                        <button onclick="addOption()"-->
<!--                                style='width: 100px; height: 40px; border-radius: 3px; background-color: lightblue; font-weight: 700;'-->
<!--                                type='button' th:text="#{add_another_option}">-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                                        <tr th:each="option : ${question.options}" th:field="*{options}">-->
<!--                &lt;!&ndash;                            <td><input style="width: 40px" type="text" th:field="*{options[__${option.index}__]}" readonly/></td>&ndash;&gt;-->
<!--                                            <td><input type="text" th:field="${options}" required/></td>-->
<!--                                            <td><input style="width: 40px" type="text" th:field="*{options[__${stat.index}__].orderOfOption}" readonly/></td>-->
